/*Modo retrato*/

@media screen and (min-width: 320px) and (max-width: 500px) and (orientation: portrait) {
    body{
        background-image: url(imagens/pexels-anna-shvets-4421551.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    header > h1 {
        text-align: center;
    }
    header > p {
        text-align: center;
    }

    form {
        width: 350px;
        display: block;
        background-color: transparent;
        height: 700px;
        margin: 0 auto;
    }

    input [type=text] {
        font-size: 13px;
    }

     h1, p {
        text-align: center;
    }
}