@charset "utf-8";

/*
Ordem e decencia
*/

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-image: url(imagens/pexels-anna-shvets-4421551.jpg);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    background-color: transparent;
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
}

header > h1 {
    color: black;
}

form {
    display: block;
    height: 610px;
    width: 600px;
    margin: 0 auto;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 5px;
}

fieldset {
    margin: 10px;
    border: 3px solid black; 
    border-radius: 5px;
}

label {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

legend {
    color: gold;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
    
div.campo-dados {
    display: flex;
}

input[type=text] {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 30px;
    border-radius: 10px;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    width: 100%;
    background-color: transparent;
    text-align: center;
    font-weight: bold;
}

input[type=email] {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 30px;
    width: 96%;
    border-radius: 10px;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-weight: bold;
    background-color: transparent;
}

select#igender {
    display: flex;
    height: 30px;
    width: 100px;
    border: 2px solid black;
    margin: 10px;
    border-radius: 3px;
}

input[type=tel] {
    display: inline-block;
    flex-direction: row;
    flex-wrap: wrap;
    height: 30px;
    width: 150px;
    text-align: center;
    margin: 10px;
    border: 2px solid black;
    border-radius: 3px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

::placeholder {
    color: black;
}

input#enviar {
    display: block;
    text-align: center;
    font-size: 20px;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 130px;
    height: 30px;
    border: 2px solid black;
    border-radius: 10px;
}

input#enviar:hover {
    background-color: yellow;
    border: 2px solid black;
}


