@media screen and (orientation: landscape) {
    body {
        background-image: url(../imagens/pexels-anna-shvets-4421551.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    header > h1 {
        text-align: center;
    }

    form {
        margin: 0 auto;
        display: block;
        width: 300px;
        background-image: linear-gradient(to bottom, #6B2AE8, #4973E9, #2DA9E9 );
    }

}